[defaults]
inventory = ./conf/inventory
ask_pass = true

[privilege_escalation]
become_method = sudo
become_user = root
become_ask_pass = true

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null