version: '3'
services:
  https-portal:
    container_name: https-portal
    image: 'steveltn/https-portal:1'
    ports:
      - '80:80'
      - '3001:443'
    restart: 'on-failure:2'
    environment:
      DOMAINS: '{{ ansible_facts['fqdn'] }} -> http://rest-gateway:3000'
      STAGE: 'production'
      WEBSOCKET: 'true'
    volumes:
      - 'https-portal-data:/var/lib/https-portal'
volumes:
  https-portal-data:
networks:
  default:
    external:
      name: docker_default